<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>User Dashboard</h1><br><br>
    <h5>{{song_list|safe}}</h5>
    <h5>{{track_ids|safe}}</h5>
    <h3>Recommended Songs</h3>

    <form id="form" action="/new_recommendation" method="POST">
        {% csrf_token %}
        <script>
            track_list = {{track_ids|safe}}
            window.onload = function() {

        var i = 0;
        var len = track_list.length;
        var slider_list = [];
        var output_list = [];
        for(i=1; i<=len; i++){

            var input = document.createElement("input");
            input.id= "rating"+i;
            input.name = "rating"+i;
            input.type="range";
            input.min="0";
            input.max="10";
            input.value="5";
            document.getElementById("form").appendChild(input);

            var iframe = document.createElement("iframe");
            iframe.id="myframe"+i;
            iframe.src="https://open.spotify.com/embed/track/" + track_list[i-1];
            iframe.width="300";
            iframe.height="80";
            iframe.frameborder="0";
            iframe.allowtransparency="true";
            iframe.allow="encrypted-media";
            document.getElementById("form").appendChild(iframe);


            var span = document.createElement("span");
            span.id="demo"+i;
            span.value="5";
            document.getElementById("form").appendChild(span);

            var br = document.createElement("br");
            document.getElementById("form").appendChild(br);

            var script = document.createElement("script");
            rating = "rating" + i;
            demo = "demo" + i;
            data =     "var slider"+i+" = document.getElementById(\""+rating+"\");"+
                        "var output"+i+" = document.getElementById(\""+demo+"\");"+
                        "output"+i+".innerHTML = slider"+i+".value;"+

                        "slider"+i+".oninput = function() {"+
                            "output"+i+".innerHTML = this.value;"+
                        "}";
            script.innerHTML = data;
            document.getElementById("form").appendChild(script);


        }
}
        </script>
    <button type="submit">
        clickme
    </button>
    <div id="rating"></div>
    <script>
        var list1 = {{song_list|safe}};
        console.log(list1);
        var id = 0;
        var pos = 0;
        for(id=1;id<=10;id++)
        {

            document.getElementById(id).innerHTML = list1[id-1];

        }
    </script>
    <script>
        function function1(){
        var list2 = [];
        var id = 0;
        var i = 0;
        var text1 = "rating";
        for(id=1;id<=10;id++)
        {
            i = text1.concat(id);
            list2.push(document.getElementById(i).value);
        }

        console.log(list2);
        document.getElementById("rating").innerHTML = list2;
        console.log(list2);
        }
    </script>
    </form>
    </body>
</html>